---
- name: Update System packages
  dnf:
    name: "*"
    state: latest
    update_cache: yes

- name: Install Java 17
  dnf:
    name: java-17-amazon-corretto
    state: present

- name: Add Jenkins repository
  get_url:
    url: https://pkg.jenkins.io/redhat-stable/jenkins.repo
    dest: /etc/yum.repos.d/jenkins.repo

- name: Import Jenkins GPG key
  rpm_key:
    key: https://pkg.jenkins.io/redhat-stable/jenkins.io-2023.key
    state: present

- name: install Jenkins
  dnf:
    name: jenkins
    state: present

- name: Start and enable Jenkins service
  service:
    name: jenkins
    state: started
    enabled: yes

- name: Add Jenkins user to docker group
  user:
    name: jenkins
    groups: docker
    append: yes

- name: Restart Jenkins to apply group changes
  service:
    name: jenkins
    state: restarted

- name: Ensure firewalld is installed and running
  service:
    name: firewalld
    state: started
    enabled: yes

- name: Add firewall rule for Jenkins
  firewalld:
    port: 8080/tcp
    permanent: yes
    state: enabled
    immediate: yes

- name: Read Jenkins initial admin PASSWORD
  command: cat /var/lib/jenkins/secrets/initialAdminPassword
  register: jenkins_password
  changed_when: false

- name: Print Jenkins initial admin PASSWORD
  debug:
    msg: "Jenkins initial admin PASSWORD: {{ jenkins_password.stdout }}"
