#######################################
# Terraform
#######################################
.terraform/
.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl

#######################################
# Node / JavaScript
#######################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#######################################
# Environment & Secrets
#######################################
.env
*.env
*.pem
*.key
id_rsa
id_rsa.pub

#######################################
# SSH
#######################################
ssh/
.ssh/

#######################################
# AWS / Cloud
#######################################
awscliv2.zip
terraform/backend/aws/

#######################################
# OS / Editor
#######################################
.DS_Store
Thumbs.db
.vscode/
.idea/

#######################################
# Logs
#######################################
*.log
