---
- name: Install required packages
  dnf:
    name:
      - wget
      - yum-utils
      - firewalld
      - python3-firewall
    state: present
    update_cache: yes

- name: Start and enable firewalld
  service:
    name: firewalld
    state: started
    enabled: yes

- name: Add Grafana repository
  copy:
    dest: /etc/yum.repos.d/grafana.repo
    content: |
      [grafana]
      name=Grafana OSS
      baseurl=https://packages.grafana.com/oss/rpm
      repo_gpgcheck=1
      enabled=1
      gpgcheck=1
      gpgkey=https://packages.grafana.com/gpg.key
      sslverify=1
      sslcacert=/etc/pki/tls/certs/ca-bundle.crt

- name: Install Grafana
  dnf:
    name: grafana
    state: present

- name: Start Grafana service
  service:
    name: grafana-server
    state: started
    enabled: yes

- name: Allow Grafana port
  firewalld:
    port: "{{ grafana_port }}/tcp"
    permanent: yes
    state: enabled
    immediate: yes

- name: Verify Grafana is running
  command: systemctl is-active grafana-server
  register: grafana_status
  changed_when: false

- name: Display Grafana status
  debug:
    msg: "Grafana service status: {{ grafana_status.stdout }}"


- name: Ensure firewalld is installed and running
  service:
    name: firewalld
    state: started
    enabled: yes

- name: Add firewall rule for Jenkins
  firewalld:
    port: 3000/tcp
    permanent: yes
    state: enabled
    immediate: yes
