# ===============================
# DATABASE CONFIG
# ===============================
sonar.jdbc.url=jdbc:postgresql://localhost:5432/sonarqube
sonar.jdbc.username=sonar
sonar.jdbc.password=Sonar@123

# ===============================
# WEB CONFIG
# ===============================
sonar.web.host=0.0.0.0
sonar.web.port=9000
