---
- name: Create prometheus user
  user:
    name: "{{ prometheus_user }}"
    shell: /sbin/nologin
    system: yes
    create_home: no

- name: Create directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ prometheus_user }}"
    group: "{{ prometheus_user }}"
    mode: '0755'
  loop:
    - "{{ prometheus_install_dir }}"
    - "{{ prometheus_data_dir }}"

- name: Download Prometheus
  get_url:
    url: "https://github.com/prometheus/prometheus/releases/download/v{{ prometheus_version }}/prometheus-{{ prometheus_version }}.linux-amd64.tar.gz"
    dest: /tmp/prometheus.tar.gz

- name: Extract Prometheus
  unarchive:
    src: /tmp/prometheus.tar.gz
    dest: /tmp
    remote_src: yes

- name: Copy Prometheus binaries
  copy:
    src: "/tmp/prometheus-{{ prometheus_version }}.linux-amd64/{{ item }}"
    dest: "{{ prometheus_install_dir }}/{{ item }}"
    mode: '0755'
    owner: "{{ prometheus_user }}"
    group: "{{ prometheus_user }}"
    remote_src: yes
  loop:
    - prometheus
    - promtool

- name: Copy consoles
  copy:
    src: "/tmp/prometheus-{{ prometheus_version }}.linux-amd64/{{ item }}"
    dest: "{{ prometheus_install_dir }}/{{ item }}"
    owner: "{{ prometheus_user }}"
    group: "{{ prometheus_user }}"
    remote_src: yes
  loop:
    - consoles
    - console_libraries

- name: Configure prometheus.yml
  template:
    src: prometheus.yml.j2
    dest: "{{ prometheus_install_dir }}/prometheus.yml"
    owner: "{{ prometheus_user }}"
    group: "{{ prometheus_user }}"
  notify: restart prometheus

- name: Create systemd service
  copy:
    dest: /etc/systemd/system/prometheus.service
    content: |
      [Unit]
      Description=Prometheus Monitoring
      Wants=network-online.target
      After=network-online.target

      [Service]
      User={{ prometheus_user }}
      ExecStart={{ prometheus_install_dir }}/prometheus \
        --config.file={{ prometheus_install_dir }}/prometheus.yml \
        --storage.tsdb.path={{ prometheus_data_dir }} \
        --web.listen-address=0.0.0.0:9090

      Restart=always

      [Install]
      WantedBy=multi-user.target
  notify: restart prometheus

- name: Reload systemd
  systemd:
    daemon_reload: yes

- name: Start and enable Prometheus
  service:
    name: prometheus
    state: started
    enabled: yes

- name: Ensure firewalld is installed and running
  service:
    name: firewalld
    state: started
    enabled: yes

- name: Add firewall rule for Jenkins
  firewalld:
    port: 9090/tcp
    permanent: yes
    state: enabled
    immediate: yes
