---

- name: Install Docker
  hosts: docker_hosts
  become: yes
  roles:
    - docker
  tags:
    - docker

- name: Install jenkins
  hosts: jenkins
  become: yes
  roles:
    - jenkins
  tags:
    - jenkins

- name: Install SonarQube
  hosts: sonarqube 
  become: yes
  roles:
    - postgresql
    - sonarQube
  tags:
    - sonarQube

- name: install Trivy
  hosts: security
  become: yes
  roles:
    - trivy
  tags:
    - trivy

- name: Setup nodejs
  hosts: nodejs
  become: yes
  roles:
    - nodejs
  tags:
    - nodejs


- name: Install Prometheus
  hosts: prometheus 
  become: yes
  roles:
    - prometheus
  tags:
    - prometheus

- name: Install Grafana
  hosts: grafana
  become: yes
  roles:
    - grafana
  tags:
    - grafana

- name: Install ArgoCD
  hosts: argocd
  become: yes
  roles:
    - argocd
  tags:
    - argocd