---

- name: Install curl and tar
  package:
    name:
      - tar
    state: present
  become: yes



- name: Download Helm install script
  get_url:
    url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
    dest: /tmp/get_helm.sh
    mode: '0755'
  become: yes


- name: install Helm
  command: /tmp/get_helm.sh
  args:
    creates: /usr/local/bin/helm
  become: yes


- name: Verify Helm installation
  command: helm version --short
  register: helm_version
  changed_when: false


- name: Verify kubectl access to Eks cluster
  command: kubectl get nodes
  register: kubectl_version
  changed_when: false


- name: Add ArgoCD Helm repository
  shell: helm repo list | grep -q argo || helm repo add argo https://argoproj.github.io/argo-helm


- name: Update Helm repositories
  command: helm repo update


- name: Create argocd namespace
  command: kubectl create namespace argocd
  register: ns
  failed_when: false
  changed_when: "'created' in ns.stdout"

- name: Copy Argocd values file to remote host
  copy:
    src: values-argocd.yaml
    dest: /tmp/values-argocd.yaml
    mode: '0644'

- name: Install ArgoCD using Helm
  command: >
    helm upgrade --install argocd argo/argo-cd
    --namespace argocd
    --create-namespace
    -f /tmp/values-argocd.yaml

- name: Wait until ArgoCD pods are running
  shell: >
    until kubectl get pods -n argocd
    | grep argocd-server
    | grep Running;
    do
      echo "Waiting for ArgoCD pods...";
      sleep 10;
    done

- name: Wait until ArgoCD LoadBalancer gets EXTERNAL-IP
  shell: >
    until kubectl get svc argocd-server -n argocd
    -o jsonpath='{.status.loadBalancer.ingress[0].hostname}' | grep -E '.';
    do
      echo "Waiting for LoadBalancer EXTERNAL-IP...";
      sleep 10;
    done


- name: Get ArgoCD LoadBalancer hostname
  shell: >
    kubectl get svc argocd-server -n argocd
    -o jsonpath='{.status.loadBalancer.ingress[0].hostname}'
  register: argocd_lb
  changed_when: false


- name: Get ArgoCD admin password
  shell: >
    kubectl get secret argocd-initial-admin-secret
    -n argocd
    -o jsonpath="{.data.password}" | base64 -d
  register: argocd_password
  changed_when: false

- name: Show ArgoCD Access Details
  debug:
    msg:
      - "ArgoCD URL: http://{{ argocd_lb.stdout }}"
      - "Username: admin"
      - "Password: {{ argocd_password.stdout }}"